<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <queries>
        <package android:name="com.android.settings" />
        <package android:name="com.xiaomi.bluetooth" />
        <package android:name="com.milink.service" />
    </queries>

    <application
        android:name=".ApplePodsApp"
        android:allowBackup="false"
        android:description="@string/module_summary"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplePods">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
    </application>
</manifest>
